@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2
}